<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${staff}" th:action="@{/staff/detail(id=${staff.id})}" method="post">

    Mã nhân viên: <input type="text" th:value="${nhanVien.staffCode}"> <br>

    Tên nhân viên: <input type="text" th:value="${nhanVien.name}"> <br>

    Email FPT: <input type="text" th:value="${nhanVien.accountFpt}"> <br>

    Email FE: <input type="text" th:value="${nhanVien.accountFe}"> <br>


    <button type="submit">Update</button>
</form>


</body>
</html>